/* ------------ INPUTS AND LABELS ------------- */
.error-message {
  color: white;
  background-color: rgb(255, 100, 100);
  font-style: italic;
  margin-bottom: 10px;
}

.add-puzzle label {
  display: block;
  margin-bottom: 5px;
}

.add-puzzle input {
  margin-bottom: 20px;
  padding: 5px;
  text-align: left;
  font-size: 0.9em;
  max-width: 100%;
}

.add-puzzle .size-input {
  width: 50px;
}

.add-puzzle .title-input {
  width: 250px;
  font-size: 1.3em;
}

@media only screen and (min-width: 700px){
  .add-puzzle .word-container {
    display: inline-block;
    width: 22%;
    margin: 0 1.5%;
  } 
}


/* ------------ BUTTONS ADD/REMOVE WORD ------------- */

.add-puzzle button {
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
}


.add-puzzle button.add-word {
  color: black;
  background-color: white;
  border: 1px solid black;
  margin: 10px 50px 30px 0;
}
.add-puzzle button.add-word:hover, .add-puzzle button.add-word:focus {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}



.add-puzzle button.remove-word {
  color: white;
  background-color: black;
}
.add-puzzle button.remove-word:hover, .add-puzzle button.remove-word:focus {
  cursor: pointer;
  background-color: rgb(50, 50, 50);
}



/* ------------ BUTTONS SUBMITTING/RESETING FORM ------------- */

.add-puzzle .add-form-button {
  display: block;
  width: 50%;
  max-width: 215px;
  font-size: 100%;
  height: 50px;
  margin: 0 auto 30px auto;
  border: 1px solid gray;
  text-shadow: 0px 0px 10px white;
}

.add-form-button.submit {
  background-color: rgb(100, 220, 100);
}

.add-form-button.submit:hover, .add-form-button.submit:focus {
  cursor: pointer;
  background-color: rgb(90, 200, 90);
}


.add-form-button.reset {
  background-color: rgb(240, 140, 140);
}
.add-form-button.reset:hover, .add-form-button.reset:focus {
  cursor: pointer;
  background-color: rgb(230, 130, 130);
}

.add-form-button.return {
  text-shadow: 0px 0px 10px white;
  background-color: rgb(140, 140, 240);
}
.add-form-button.return:hover, .add-form-button.return:focus {
  cursor: pointer;
  background-color: rgb(130, 130, 230);
}


@media only screen and (min-width: 780px){
  .add-puzzle .add-form-button {
    font-size: 18px;
    display: inline-block;
    margin: 0 10px;
    max-width: 240px;
  }
}


/* ------------ LOADING SPINNER ------------- */
.loading-spinner {
  width: 200px;
  margin: 0 auto;
}

.delay-entry {
  display: none;
}

.loading-spinner p {
  padding-top: 5px;
}

