main {
  height: 99vh;
  width: 100vw;
  max-width: 1000px;
  margin: 0 auto;
  background: url("../images/search-clipart-background.png") center center / cover no-repeat;
}

.main-container {
  background-color: rgba(255, 255, 255, 0.95);
  height: 100%;
}

.landing-instructions {
  font-size: 20px;
  width: 75%;
  min-width: 300px;
  margin: 0 auto 60px auto;
  line-height: 145%;
}

button.create-new {
  width: 75%;
  max-width: 400px;
  padding: 10px;
  height: 75px;
  margin-bottom: 60px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: rgb(100, 220, 100);
  text-shadow: 0 0 4px white;
}

button.create-new:hover, button.create-new:focus {
  cursor: pointer;
  background-color: rgb(90, 200, 90);
}
