/*--------- TITLE ------------ */
.view-puzzle .playing-instructions {
  font-size: 18px;
  width: 90%;
  margin: 0 auto 30px auto;
}

.view-puzzle h2 {
  margin-bottom: 20px;
}

.view-puzzle h2 button {
  margin-left: 10px;
  padding: 2px;
}

.view-puzzle .change-title {
  margin-bottom: 20px;
}

.view-puzzle .edit-title-change {
  margin-right: 10px;
  margin-top: 10px;
}

.view-puzzle ul.words {
  font-style: italic;
  font-weight: bold;
  font-size: 1.3em;
  margin: 20px 0;
}

.view-puzzle ul.words li {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
}
.word-to-find:hover {
  cursor: pointer;
}
.word-to-find.found {
  text-decoration: line-through;
}

.words .hint-button:hover {
  cursor: pointer;
}
.words .hint-button {
  padding: 1px;
  width: 45px;
  margin-left: 15px;
  background: transparent;
}
.words .hint-button.showing {
  text-shadow: 0px 0px 2px white;
  background-color: rgb(200, 200, 255);
}



/*--------- PUZZLE ------------ */

.view-puzzle .puzzle-container {
  background-color: rgb(245, 245, 245);
  margin: 0 auto;
}
.puzzle-container:hover {
  cursor: cell;
}

.puzzle-row {
  height: calc(8px + 4vw);
  min-height: 20px;
  max-height: 29px;
}

.puzzle-cell {
  display: inline-block;
  max-width: 30px;
  text-align: center;
  height: 100%;
}

.puzzle-cell.selected {
  background-color: rgb(225, 225, 100);
}

.puzzle-cell.hint, .puzzle-cell.solve {
  background-color: rgb(200, 200, 255);
}
.puzzle-cell.hint.selected, .puzzle-cell.solve.selected {
  background-color: rgb(100, 255, 100);
}



/*--------- BUTTONS ------------ */
.view-puzzle button.solve, .view-puzzle button.back, .view-puzzle button.delete {
  display: block;
  margin: 30px auto;
}


.view-puzzle button {
  padding: 5px;
  border-radius: 5px;
}

.view-puzzle button.solve {
  font-size: 16px;
  background-color: rgb(200, 200, 255);
}
.view-puzzle button.solve:hover, .view-puzzle button.solve:focus {
  cursor: pointer;
  background-color: rgb(180, 180, 235);
}

.view-puzzle button.back {
  font-size: 16px;
  color: white;
  background-color: rgb(90, 90, 190);
}

.view-puzzle button.back:hover, .view-puzzle button.back:focus {
  cursor: pointer;
  background-color: rgb(120, 120, 220);
}

.view-puzzle button.delete {
  font-size: 16px;
  color: white;
  background-color: rgb(190, 90, 90);
}

.view-puzzle button.delete:hover, .view-puzzle button.delete:focus {
  cursor: pointer;
  background-color: rgb(220, 120, 120);
}

@media only screen and (min-width: 600px) {
  .view-puzzle button.solve, .view-puzzle button.back, .view-puzzle button.delete {
    display: initial;
    margin: 30px 15px;
  }
}