body * {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.puzzle-list-item {
  text-align: center;
  width: 200px;
  height: 150px;
  background-color: rgb(200, 200, 200);
  display: inline-block;
  margin-right: 20px;
  padding: 10px;
  vertical-align: top;
  margin-bottom: 20px;
}
.puzzle-list-item a {
  text-decoration: none;
  color: black;
}

.puzzle-cell {
  display: inline-block;
  width: 30px;
  text-align:center;
}

.puzzle-row {
  margin-bottom: 10px;
}

button {
  margin-right: 15px;
}